.bmi-koujing {
  font-family: '微软雅黑';
}
.bmi-koujing .formula {
  font-size: 14px;
  margin: 0px 0px 10px 20px;
}
.bmi-koujing .formula-title,
.bmi-koujing .weight,
.bmi-koujing .compute-type {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 5px;
}
.bmi-koujing .koujing-title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 5px 0px 5px;
}
.bmi-koujing .koujing-name {
  font-size: 13px;
  font-weight: bold;
}
.bmi-koujing .koujing {
  margin: 10px 20px 10px 20px;
  font-size: 13px;
  max-width: 700px;
}
.month-dialog {
  width: 400px;
  height: 300px;
  padding: 10px;
  border: 1px solid #cbd7e3;
  border-radius: 3px;
  background: #f0f8f8;
}
.month-panel {
  float: left;
  cursor: pointer;
  margin: 10px;
  width: 80px;
  height: 80px;
  font-family: '微软雅黑';
  background: transparent url(/Antares/resources/img/calendar.png) no-repeat;
}
.month-panel .month-name {
  margin: 12px 0px 10px 10px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}
.month-panel .month-rank {
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px;
  color: #222;
}
.month-panel.disable {
  cursor: default;
  background: transparent url(/Antares/resources/img/calendar.png) no-repeat -80px;
}
.month-panel.disable .month-rank {
  color: #999;
}
.bmi-page .title {
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  background-image: -ms-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(top, #ffffff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffededed', GradientType=0);
  border: 1px solid #c9c9c9;
  border-top: 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 10px 10px 20px;
  padding-bottom: 7px \9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-shadow: 1px 1px 2px #fff;
}
.bmi-page .title .bmi-branch-logo {
  width: 150px;
}
.bmi-page .title .bmi-calendar {
  font-size: 12px;
  color: #316eb1;
  margin-left: 3px;
  margin-right: 10px;
  cursor: pointer;
}
.bmi-page .title .split {
  border-left: 2px solid #aaa;
  width: 1px;
  height: 40px;
  border-right: 1px solid #fff;
  float: left;
  margin-right: 5px;
}
.bmi-page .title .bmi-info {
  font-size: 14px;
  padding-top: 10px;
  font-family: "微软雅黑";
}
.bmi-page .bmi-optionbar {
  padding: 0px 5px;
  margin: 10px 5px;
  border: 1px solid #bcd5eb;
  border-radius: 5px;
  height: 42px;
  background: transparent url(/Antares/resources/img/dsp-option-bg.png) repeat;
  margin-bottom: -1px;
  position: relative;
}
.bmi-page .bmi-optionbar .bmi-label {
  padding: 10px 0px;
  font-family: "微软雅黑";
  padding-top: 8px;
  margin-top: 4px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 13px;
  display: block;
  float: left;
  text-align: center;
  width: 105px;
  color: #004889;
  cursor: pointer;
  position: relative;
}
.bmi-page .bmi-optionbar .bmi-label:hover {
  color: #143252;
  font-weight: bold;
}
.bmi-page .bmi-optionbar .bmi-label.active {
  background: #eef8f9;
  color: #143252;
  font-weight: bold;
}
.bmi-page .bmi-optionbar .bmi-split {
  float: left;
  margin: 5px 5px 0px 5px;
  height: 33px;
  border-left: 2px solid #a6c4cf;
  border-right: 1px solid #fff;
}
.bmi-page .bmi-subOptionBar {
  display: none;
  font-family: "微软雅黑";
  border-radius: 5px;
  border-left: 1px solid #d6eef2;
  border-right: 1px solid #d6eef2;
  height: 40px;
  position: relative;
  background: transparent url(/Antares/resources/img/bmi-subbar.png) repeat-x;
  margin-bottom: 10px;
  margin-left: 5px;
}
.bmi-page .bmi-subOptionBar span {
  font-size: 12px;
  color: #333;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  margin: 7px 5px;
  padding: 3px 5px;
}
.bmi-page .bmi-subOptionBar span:hover,
.bmi-page .bmi-subOptionBar span.active {
  background: #2e75b8;
  color: #fff;
}
.bmi-page .bmi-maincontent {
  margin-top: 25px;
}
.bmi-page .bmi-maincontent .bmi-grid-header {
  font-size: 14px;
  line-height: 31px;
  margin-left: 20px;
  width: 92%;
  padding-left: 3%;
  border: 1px solid #c3c3c3;
  border-bottom: 1px solid #bbb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent url(/Antares/resources/img/tableheader-bg.png) repeat-x;
  height: 31px;
  font-weight: bold;
  color: #143252;
}
.bmi-page .bmi-maincontent .bmi-grid {
  margin: 0px 0px 0px 20px;
  width: 95%;
  font-size: 13px;
}
.bmi-page .bmi-maincontent .bmi-grid td {
  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
  padding: 5px 10px;
}
.bmi-page .bmi-maincontent .bmi-grid .kj-desc {
  cursor: pointer;
}
.bmi-page .bmi-maincontent .bmi-expand-subgrid {
  cursor: pointer;
}
.bmi-page .bmi-maincontent .bmi-subgrid td {
  padding: 0;
}
.bmi-page .bmi-maincontent .bmi-subgrid .bmi-grid {
  margin: 0;
  border: 0;
  width: 100%;
}
.bmi-page .bmi-maincontent .subgrid-icon {
  background: transparent url('/Antares/resources/img/group-expand-sprite.gif') no-repeat 0px -50px;
  cursor: pointer;
  display: block;
  width: 16px;
  height: 12px;
  float: left;
  margin-top: 3px;
}
.bmi-page .bmi-maincontent .compare-grid td {
  height: 70px;
  vertical-align: top;
  text-align: center;
}
.bmi-page .bmi-maincontent .compare-grid td span {
  font-size: 12px;
  color: #666;
  line-height: 30px;
}
.bmi-page .bmi-maincontent .left-info {
  margin-right: 20px;
  font-family: '微软雅黑';
}
.bmi-page .bmi-maincontent .left-info h3 {
  font-size: 20px;
  display: inline;
  margin-right: 25px;
  line-height: 34px;
  margin-top: 0px;
}
.bmi-page .bmi-maincontent .left-info .view-detail {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #316eb1;
}
.bmi-page .bmi-maincontent .left-info .belong-type {
  font-size: 12px;
  color: #333;
  vertical-align: bottom;
}
.bmi-page .bmi-maincontent .left-info table {
  margin-top: 10px;
}
.bmi-page .bmi-maincontent .left-info table img {
  vertical-align: baseline;
}
.bmi-page .bmi-maincontent .left-info table tr td {
  border: 0;
  border-bottom: 1px dotted #ccc;
}
.bmi-page .bmi-maincontent .left-info table tr td.first-item {
  font-weight: bold;
  padding-left: 0px;
  font-size: 20px;
  color: #333;
  width: 40%;
}
.bmi-page .bmi-maincontent .left-info table tr td.last-item {
  font-size: 12px;
  color: #666;
  vertical-align: baseline;
}
.bmi-page .bmi-maincontent .chart .chart-loader {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
}
.bmi-page .bmi-maincontent .chart .chart-svg {
  padding: 5px;
  border: 2px solid #545454;
  background: transparent url('/Antares/resources/img/grid-bg.png') repeat;
  height: 195px;
}
.bmi-page .bmi-maincontent .gadget-container {
  margin-top: 20px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget-group {
  margin-left: 15px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget-group h3 {
  margin-top: 25px;
  margin-right: 10px;
  color: #143252;
  float: left;
  width: 15px;
  line-height: 18px;
  font-size: 14px;
  font-family: '微软雅黑';
}
.bmi-page .bmi-maincontent .gadget-container .gadget {
  background: transparent url(/Antares/resources/img/gadget-bg.png) no-repeat;
  height: 110px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 20px;
  color: #333;
  cursor: pointer;
  font-family: "微软雅黑";
}
.bmi-page .bmi-maincontent .gadget-container .gadget .info {
  float: left;
  font-weight: bold;
  padding: 10px 0px 0px 15px;
  *padding-top: 20px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .info .type {
  font-size: 18px;
  margin: 10px 0px;
  height: 40px;
  width: 140px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .info .score {
  font-size: 12px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .rank {
  float: left;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background: transparent url(/Antares/resources/img/gadget-rank.png) no-repeat;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .rank p {
  margin-top: 15px;
  margin-left: 13px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .rank.blue {
  background-position: -50px 0px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .rank.red {
  background-position: -100px 0px;
}
.bmi-page .bmi-maincontent .gadget-container .gadget .rank.green {
  background-position: -150px 0px;
}
.bmi-page .bmi-maincontent .gadget-container .disabled {
  cursor: default;
}
