.row-fluid.file-manage .span20.file-query {
  background: #fff;
}
.row-fluid.file-manage .span20.file-query form {
  margin-top: 20px;
}
.row-fluid.file-manage .span20.file-query form .control-label {
  width: 100px;
}
.row-fluid.file-manage .span20.file-query form .controls {
  margin-left: 120px;
}
.row-fluid.file-manage .span20.file-query form .form-actions {
  padding-left: 100px;
}
.row-fluid.file-manage .span20.file-query form .form-actions button {
  margin: 0px 20px;
}
